In [1]:
# Importing packages
import psycopg2
import pandas as pd
import numpy as np
import sklearn

## Importing machine learning libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from scipy import stats as st
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MaxAbsScaler
#from category_encoders.leave_one_out import LeaveOneOutEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
#pip install psycopg2

In [3]:
# engine = create_engine('postgresql://group7:Enterprise7@enterprisedb.postgres.database.azure.com:5432/postgres')

## 1. Getting data from Azure PostgreSQL database

In [2]:
# Establishing connection with Azure PostgreSQL database to get weather data
conn = psycopg2.connect(
   database='postgres', user='group7', password='Enterprise7', host='enterprisedb.postgres.database.azure.com', port= '5432'
)
cursor = conn.cursor()
cursor.execute('''SELECT * from weather''')
weather_db = cursor.fetchall();
conn.commit()
conn.close()

print(weather_db)

[(0, datetime.datetime(2022, 4, 19, 17, 0), 0.53, 1.07, 273.94, 278.08, 1, 0, 1, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346)), (1, datetime.datetime(2022, 4, 20, 17, 0), 0.0, 0.0, 273.3, 282.8, 0, 0, 0, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346)), (2, datetime.datetime(2022, 4, 21, 17, 0), 0.0, 7.43, 278.33, 288.33, 0, 0, 1, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346)), (3, datetime.datetime(2022, 4, 22, 17, 0), 0.0, 0.0, 276.94, 284.7, 0, 0, 0, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346)), (4, datetime.datetime(2022, 4, 23, 17, 0), 0.0, 0.4, 277.19, 279.07, 0, 0, 0, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346)), (5, datetime.datetime(2022, 4, 24, 17, 0), 0.0, 0.11, 278.57, 285.37, 0, 0, 0, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346)), (6, datetime.datetime(2022, 4, 25, 17, 0), 0.0, 4.29, 281.43, 292.01, 0, 0, 1, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346)), (7, datetime.datetime(2022, 4, 26, 17, 0), 0.0, 0.34, 276.24, 284.87, 0, 0, 0, datetime.datetime(2022, 4, 19, 4, 5, 0, 735346))]

In [3]:
# Establishing connection with Azure PostgreSQL database to get preprocessed labeled data
conn = psycopg2.connect(
   database='postgres', user='group7', password='Enterprise7', host='enterprisedb.postgres.database.azure.com', port= '5432'
)
cursor = conn.cursor()
cursor.execute('''SELECT * from "labeledData" ''')
labeled_db = cursor.fetchall();
conn.commit()
conn.close()

# print(labeled_db)

In [4]:
# Establishing connection with Azure PostgreSQL database to get test data for analysis
conn = psycopg2.connect(
   database='postgres', user='group7', password='Enterprise7', host='enterprisedb.postgres.database.azure.com', port= '5432'
)
cursor = conn.cursor()
cursor.execute('''SELECT * from "dummy_data" ''')
test_data_db = cursor.fetchall();
conn.commit()
conn.close()

# print(test_data_db)

## 2. Data Pre-processing

#### Data Pre-processing pipeline for coupons data

Cleaning Weather Data

In [5]:
# Converting data to dataframe
weather = pd.DataFrame(weather_db, columns=['Index', 'Date', 'Snow_cm', 'Rain_mm', 'MinTemp', 'MaxTemp', 'Is_Snow', 'Is_Snowstorm', 'Is_Rainday', 'Updated_At'])
weather = weather[['Date', 'Snow_cm', 'Rain_mm', 'MinTemp', 'MaxTemp', 'Updated_At']]

# Cleaning date field
weather['Date'] = pd.to_datetime(weather['Date'], format='%Y%m%d')
weather['Date'] = [d.date() for d in weather['Date']]
weather['Date'] = weather.Date.astype('datetime64[ns]')
weather.drop(columns = ['Updated_At'], inplace = True)
weather

        Date  Snow_cm  Rain_mm  MinTemp  MaxTemp
0 2022-04-19     0.53     1.07   273.94   278.08
1 2022-04-20     0.00     0.00   273.30   282.80
2 2022-04-21     0.00     7.43   278.33   288.33
3 2022-04-22     0.00     0.00   276.94   284.70
4 2022-04-23     0.00     0.40   277.19   279.07
5 2022-04-24     0.00     0.11   278.57   285.37
6 2022-04-25     0.00     4.29   281.43   292.01
7 2022-04-26     0.00     0.34   276.24   284.87

Fetching labeled data for preprocessing

In [8]:
# Converting data to dataframe
df_og = pd.DataFrame(labeled_db, columns=['index', 'destination', 'passanger', 'time', 'coupon', 'expiration', 'gender', 'age', 'maritalStatus', 'has_children', 'education', 'occupation', 'income', 'Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50', 'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp', 'Y', 'Date', 'MinTemp', 'MaxTemp', 'Rain_mm', 'Snow_cm'])

# Cleaning date field
df_og['Date'] = pd.to_datetime(df_og['Date'], format='%Y-%m-%d')

df_og.head(2)

,index,destination,passanger,time,coupon,expiration,gender,age,maritalStatus,has_children,...,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Date,MinTemp,MaxTemp,Rain_mm,Snow_cm
0,0,No Urgent Place,Alone,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,1.0,...,0.0,0.0,0.0,1.0,1.0,2022-02-22,264.55,275.05,15.3,2.4
1,1,Work,Alone,7AM,Coffee House,2h,Female,26,Married partner,1.0,...,1.0,1.0,0.0,1.0,0.0,2022-02-22,264.55,275.05,15.3,2.4

In [9]:
# Converting data to dataframe
test_data = pd.DataFrame(test_data_db, columns=['index', 'destination', 'passanger', 'time', 'coupon', 'expiration', 'gender', 'age', 'maritalStatus', 'has_children', 'education', 'occupation', 'income', 'Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50', 'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp', 'Y', 'Date'])

# Cleaning date field
test_data['Date'] = pd.to_datetime(test_data['Date'], format='%Y-%m-%d')
test_data['Date'] = test_data.Date.astype('datetime64[ns]')
test_data.head(2)

,index,destination,passanger,time,coupon,expiration,gender,age,maritalStatus,has_children,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Date
0,0,No Urgent Place,Friend(s),6PM,Coffee House,1d,Female,31,Married partner,1,...,never,less1,never,1,1,1,0,1,0,2022-04-18
1,1,No Urgent Place,Friend(s),10PM,Restaurant(<20),1d,Female,46,Divorced,0,...,never,4~8,less1,1,1,0,0,1,1,2022-04-19

In [10]:
class TransformingColumns(BaseEstimator, TransformerMixin):
    def __init__(self): # no *args or **kargs
        print("Transformer initialized")
   
    def fit(self, X, y=None):
        return self  # nothing else to do
    
    def transform(self, X): 

        gender_mapper = {'Female': 1, 'Male': 0}
        expiry_mapper = {'1d': 24, '2h': 2}
        age_mapper = {'50plus': 50,'below21': 18}
        time_mapper = {'6PM': 18, '7AM': 7, '10AM': 10, '2PM': 14, '10PM': 22}
        education_mapper = {'Some High School': 1, 'High School Graduate': 2, 'Some college - no degree': 3, 'Associates degree': 4, 'Bachelors degree': 5, 'Graduate degree (Masters or Doctorate)': 6}
        visit_mapper = {'never': 0, 'less1': 1, '1~3': 2, '4~8': 3, 'gt8': 4}
        income_ub_mapper = {'Less than $12500': 12499, '$12500 - $24999': 24999, '$25000 - $37499': 37499, '$37500 - $49999': 49999, '$50000 - $62499': 62499, '$62500 - $74999': 74999, '$75000 - $87499': 87499, '$87500 - $99999': 99999, '$100000 or More': 200000}
        income_lb_mapper = {'Less than $12500': 0, '$12500 - $24999': 12500, '$25000 - $37499': 25000, '$37500 - $49999': 37500, '$50000 - $62499': 50000, '$62500 - $74999': 62500, '$75000 - $87499': 75000, '$87500 - $99999': 87500, '$100000 or More': 100000}
        
        X['gender'] = X['gender'].replace(gender_mapper)
        X['expiration'] = X['expiration'].replace(expiry_mapper)
        X['age'] = X['age'].replace(age_mapper)
        X['time'] = X['time'].replace(time_mapper)
        X['education'] = X['education'].replace(education_mapper)
        X['Bar'] = X['Bar'].replace(visit_mapper)
        X['CoffeeHouse'] = X['CoffeeHouse'].replace(visit_mapper)
        X['CarryAway'] = X['CarryAway'].replace(visit_mapper)
        X['RestaurantLessThan20'] = X['RestaurantLessThan20'].replace(visit_mapper)
        X['Restaurant20To50'] = X['Restaurant20To50'].replace(visit_mapper)
        X['income_ub'] = X['income'].replace(income_ub_mapper)
        X['income_lb'] = X['income'].replace(income_lb_mapper)
        
        #Splitting date column
        # X[["day", "month", "year"]] = X["Date"].str.split("-", expand = True)
        
        #Imputing with median values
        imputer = SimpleImputer(strategy="median")
        imputer.fit(X[['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50','Snow_cm', 'Rain_mm', 'MinTemp','MaxTemp']])
        X[['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50', 'Snow_cm', 'Rain_mm', 'MinTemp','MaxTemp']] = imputer.transform(X[['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50', 'Snow_cm', 'Rain_mm', 'MinTemp','MaxTemp']])
           
        X = pd.get_dummies(X, columns = ['destination', 'passanger', 'coupon', 'maritalStatus', 'occupation'])
        X = X.drop(axis=1, columns=['index', 'Date', 'income'])
        
        return X

In [11]:
#Passing the transforming class defined above to pipeline
prod_pipeline = Pipeline([
        ('transformation', TransformingColumns()),
    ])

Transformer initialized

In [12]:
coupon_train = prod_pipeline.fit_transform(df_og)

In [13]:
#imp_features = ['CoffeeHouse','age','income_lb','income_ub','Bar','education','time','CarryAway','Restaurant20To50','RestaurantLessThan20','expiration','coupon_Carry out & Take away','temperature','coupon_Restaurant(<20)','coupon_Bar','coupon_Coffee House','toCoupon_GEQ15min','gender','has_children','maritalStatus_Single','maritalStatus_Married partner','occupation_Unemployed','coupon_Restaurant(20-50)','passanger_Friend(s)']

In [14]:
# NOTE: Make sure that the outcome column is labeled 'target' in the data file
#Separate response and features
response = coupon_train["Y"]
df_features = coupon_train.drop("Y",axis=1)

## 3. Joining weather data with test data

In [15]:
final_test_data = test_data.merge(weather, how = 'left', on='Date')

Final Data Set through pipeline

In [16]:
coupon_test = prod_pipeline.fit_transform(final_test_data)

testing_response = coupon_test["Y"]
testing_features = coupon_test.drop("Y",axis=1)

## 4. Defining Best model from T-POT that is uploaded on Azure Blob

In [17]:
# import joblib

# model = RandomForestClassifier(bootstrap=True, criterion="gini", max_features=0.5,
#                        min_samples_leaf=1, min_samples_split=9, n_estimators=100)

# model.fit(testing_features, testing_response)

# # save the model
# filename = 'enterprise_model.sav'
# joblib.dump(model, filename)

Fetching Best Model from Azure Blob Storage

In [18]:
#pip install azure.storage.blob

In [19]:
from azure.storage.blob import BlobServiceClient
import pandas as pd
import joblib

service_client = BlobServiceClient.from_connection_string("DefaultEndpointsProtocol=https;AccountName=enterprise7storage;AccountKey=OiGkb1Y44PAU8Z51UZQcUQEC1b1zw8Vq291Syzs5wpZ1nCdN4P8N/rW+YYQUY33C/Z1avE7F1cKn+AStFoZbaw==;EndpointSuffix=core.windows.net")
client = service_client.get_container_client("model")
bc = client.get_blob_client(blob="enterprise_model.sav")
data = bc.download_blob()
with open("enterprise_model.sav", "wb") as f:
   data.readinto(f)

loaded_model = joblib.load("enterprise_model.sav")

## 5. Getting predictions

In [20]:
result = loaded_model.score(testing_features, testing_response)

pred = list(loaded_model.predict(testing_features))

In [21]:
testing_features_preds = testing_features.copy()
testing_features_preds['Predictions'] = pred
testing_features_preds.head()

,time,expiration,gender,age,has_children,education,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,...,occupation_Office & Administrative Support,occupation_Personal Care & Service,occupation_Production Occupations,occupation_Protective Service,occupation_Retired,occupation_Sales & Related,occupation_Student,occupation_Transportation & Material Moving,occupation_Unemployed,Predictions
0,18,24,1,31,1,3,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,1
1,22,24,1,46,0,1,1.0,2.0,0.0,3.0,...,0,0,1,0,0,0,0,0,0,1
2,18,2,0,18,0,4,1.0,4.0,2.0,3.0,...,0,0,0,0,0,0,0,0,1,1
3,7,2,1,50,0,2,1.0,3.0,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,22,2,0,50,1,3,4.0,0.0,2.0,2.0,...,0,0,0,0,0,0,0,0,0,1

Appending the new predictions to training set

In [22]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://group7:Enterprise7@enterprisedb.postgres.database.azure.com:5432/postgres')
testing_features_preds.to_sql('modelResults', engine, if_exists='replace')