### Importing libraries

In [1]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### Importing preprocessed dataset

In [2]:
############### ORIGINAL DATASET ###############

# Data import
path = "C:/Users/sonis/Desktop/Courses/Winter 1/INSY695 - Enterprise Analytics/Group Assignment/"
df_og = pd.read_csv(path+"pre-processed_dataset.csv")

In [3]:
df_og.head()

,temperature,time,expiration,gender,age,has_children,education,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,...,occupation_Management,occupation_Office & Administrative Support,occupation_Personal Care & Service,occupation_Production Occupations,occupation_Protective Service,occupation_Retired,occupation_Sales & Related,occupation_Student,occupation_Transportation & Material Moving,occupation_Unemployed
0,55,14,24,1,21,1,3,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,80,10,2,1,21,1,3,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,80,10,2,1,21,1,3,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,80,14,2,1,21,1,3,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,80,14,24,1,21,1,3,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
df_og.columns

Index(['temperature', 'time', 'expiration', 'gender', 'age', 'has_children',
       'education', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same',
       'direction_opp', 'Y', 'income_ord', 'income_lb', 'income_ub', 'Bar_ord',
       'CoffeeHouse_ord', 'CarryAway_ord', 'RestLT20_ord', 'Rest20To50_ord',
       'destination_Home', 'destination_No Urgent Place', 'destination_Work',
       'passanger_Alone', 'passanger_Friend(s)', 'passanger_Kid(s)',
       'passanger_Partner', 'weather_Rainy', 'weather_Snowy', 'weather_Sunny',
       'coupon_Bar', 'coupon_Carry out & Take away', 'coupon_Coffee House',
       'coupon_Restaurant(20-50)', 'coupon_Restaurant(<20)',
       'maritalStatus_Divorced', 'maritalStatus_Married partner',
       'maritalStatus_Single', 'maritalStatus_Unmarried partner',
       'maritalStatus_Widowed', 'occupation_Architecture & Engineering',
       'occupation_Arts Design Entertainment Sports & Media',
       'occupation_Building & Grounds Cleaning & Maintenance',
       'occupation_Business & Financial',
       'occupation_Community & Social Services',
       'occupation_Computer & Mathematical',
       'occupation_Construction & Extraction',
       'occupation_Education&Training&Library',
       'occupation_Farming Fishing & Forestry',
       'occupation_Food Preparation & Serving Related',
       'occupation_Healthcare Practitioners & Technical',
       'occupation_Healthcare Support',
       'occupation_Installation Maintenance & Repair', 'occupation_Legal',
       'occupation_Life Physical Social Science', 'occupation_Management',
       'occupation_Office & Administrative Support',
       'occupation_Personal Care & Service',
       'occupation_Production Occupations', 'occupation_Protective Service',
       'occupation_Retired', 'occupation_Sales & Related',
       'occupation_Student', 'occupation_Transportation & Material Moving',
       'occupation_Unemployed'],
      dtype='object')

In [5]:
# Re-arranging order to bring state to the 0th position
df_og = df_og[['Y', 'temperature', 'time', 'expiration', 'gender', 'age', 'has_children',
       'education', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same',
       'direction_opp', 'income_lb', 'income_ub', 'Bar_ord',
       'CoffeeHouse_ord', 'CarryAway_ord', 'RestLT20_ord', 'Rest20To50_ord',
       'destination_Home', 'destination_No Urgent Place', 'destination_Work',
       'passanger_Alone', 'passanger_Friend(s)', 'passanger_Kid(s)',
       'passanger_Partner', 'weather_Rainy', 'weather_Snowy', 'weather_Sunny',
       'coupon_Bar', 'coupon_Carry out & Take away', 'coupon_Coffee House',
       'coupon_Restaurant(20-50)', 'coupon_Restaurant(<20)',
       'maritalStatus_Divorced', 'maritalStatus_Married partner',
       'maritalStatus_Single', 'maritalStatus_Unmarried partner',
       'maritalStatus_Widowed', 'occupation_Architecture & Engineering',
       'occupation_Arts Design Entertainment Sports & Media',
       'occupation_Building & Grounds Cleaning & Maintenance',
       'occupation_Business & Financial',
       'occupation_Community & Social Services',
       'occupation_Computer & Mathematical',
       'occupation_Construction & Extraction',
       'occupation_Education&Training&Library',
       'occupation_Farming Fishing & Forestry',
       'occupation_Food Preparation & Serving Related',
       'occupation_Healthcare Practitioners & Technical',
       'occupation_Healthcare Support',
       'occupation_Installation Maintenance & Repair', 'occupation_Legal',
       'occupation_Life Physical Social Science', 'occupation_Management',
       'occupation_Office & Administrative Support',
       'occupation_Personal Care & Service',
       'occupation_Production Occupations', 'occupation_Protective Service',
       'occupation_Retired', 'occupation_Sales & Related',
       'occupation_Student', 'occupation_Transportation & Material Moving',
       'occupation_Unemployed']]

print(df_og.columns)
print("\nNumber of rows & columns:", df_og.shape)
df_og.head(5)

Index(['Y', 'temperature', 'time', 'expiration', 'gender', 'age',
       'has_children', 'education', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp', 'income_lb', 'income_ub', 'Bar_ord',
       'CoffeeHouse_ord', 'CarryAway_ord', 'RestLT20_ord', 'Rest20To50_ord',
       'destination_Home', 'destination_No Urgent Place', 'destination_Work',
       'passanger_Alone', 'passanger_Friend(s)', 'passanger_Kid(s)',
       'passanger_Partner', 'weather_Rainy', 'weather_Snowy', 'weather_Sunny',
       'coupon_Bar', 'coupon_Carry out & Take away', 'coupon_Coffee House',
       'coupon_Restaurant(20-50)', 'coupon_Restaurant(<20)',
       'maritalStatus_Divorced', 'maritalStatus_Married partner',
       'maritalStatus_Single', 'maritalStatus_Unmarried partner',
       'maritalStatus_Widowed', 'occupation_Architecture & Engineering',
       'occupation_Arts Design Entertainment Sports & Media',
       'occupation_Building & Grounds Cleaning & Maintenance',
       'occupation_Business & Financial',
       'occupation_Community & Social Services',
       'occupation_Computer & Mathematical',
       'occupation_Construction & Extraction',
       'occupation_Education&Training&Library',
       'occupation_Farming Fishing & Forestry',
       'occupation_Food Preparation & Serving Related',
       'occupation_Healthcare Practitioners & Technical',
       'occupation_Healthcare Support',
       'occupation_Installation Maintenance & Repair', 'occupation_Legal',
       'occupation_Life Physical Social Science', 'occupation_Management',
       'occupation_Office & Administrative Support',
       'occupation_Personal Care & Service',
       'occupation_Production Occupations', 'occupation_Protective Service',
       'occupation_Retired', 'occupation_Sales & Related',
       'occupation_Student', 'occupation_Transportation & Material Moving',
       'occupation_Unemployed'],
      dtype='object')

Number of rows & columns: (12684, 64)

,Y,temperature,time,expiration,gender,age,has_children,education,toCoupon_GEQ15min,toCoupon_GEQ25min,...,occupation_Management,occupation_Office & Administrative Support,occupation_Personal Care & Service,occupation_Production Occupations,occupation_Protective Service,occupation_Retired,occupation_Sales & Related,occupation_Student,occupation_Transportation & Material Moving,occupation_Unemployed
0,1,55,14,24,1,21,1,3,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,80,10,2,1,21,1,3,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,80,10,2,1,21,1,3,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,80,14,2,1,21,1,3,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0,80,14,24,1,21,1,3,1,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df_og['CoffeeHouse_ord']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
12679    0.0
12680    0.0
12681    0.0
12682    0.0
12683    0.0
Name: CoffeeHouse_ord, Length: 12684, dtype: float64

### Classification Model Building

In [7]:
## Importing machine learning libraries

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [8]:
## Splitting data into train & test datasets
X = df_og.iloc[:,1:]
y = df_og['Y']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=5)

In [9]:
## Creating GBT function

def gbt_thresh(X_train,X_test,y_train,y_test):   
    
    gbt = GradientBoostingClassifier() 
    model = gbt.fit(X_train, y_train)
    
    y_test_pred = model.predict(X_test)
    
    #accuracy_score(y_test, y_test_pred)

    # Calculate the accuracy score
    y_test_pred = model.predict(X_test)
    r1 = metrics.accuracy_score(y_test, y_test_pred)

    # Print the confusion matrix
    metrics.confusion_matrix(y_test, y_test_pred)
    # Calculate the Precision/Recall
    r2 = metrics.precision_score(y_test, y_test_pred)
    r3 = metrics.recall_score(y_test, y_test_pred)
    # Calculate the F1 score
    r4 = metrics.f1_score(y_test, y_test_pred)
    
    return r1, r2, r3, r4

In [10]:
## Creating Logistic Regression function

def logistic_reg(X_train,X_test,y_train,y_test):
    
    lr2 = LogisticRegression()
    model = lr2.fit(X_train,y_train)
    
    y_test_pred = model.predict(X_test)
    #accuracy_score(y_test, y_test_pred)

    # Calculate the accuracy score
    y_test_pred = model.predict(X_test)
    r5 = metrics.accuracy_score(y_test, y_test_pred)

    # Print the confusion matrix
    metrics.confusion_matrix(y_test, y_test_pred)
    # Calculate the Precision/Recall
    r6 = metrics.precision_score(y_test, y_test_pred)
    r7 = metrics.recall_score(y_test, y_test_pred)
    # Calculate the F1 score
    r8 = metrics.f1_score(y_test, y_test_pred)
    
    return r5, r6, r7, r8

In [11]:
## KNN

def knn_algo(X_train,X_test,y_train,y_test):
    
    standardizer = StandardScaler()
    X_train_std = standardizer.fit_transform(X_train)
    X_test_std = standardizer.fit_transform(X_test)
    
    a = []
    for i in range (1,20):
        knn3 = KNeighborsClassifier(n_neighbors=i)
        model3 = knn3.fit(X_train_std,y_train)
        y_test_pred = model3.predict(X_test_std)
        a.append(metrics.accuracy_score(y_test, y_test_pred))
        
    r9 = max(a)
    r10 = metrics.f1_score(y_test, y_test_pred)
        
    return r9, r10

In [12]:
## Random Forest

def rf_algo(X_train,X_test,y_train,y_test):
    
    randomforest = RandomForestClassifier()
    model = randomforest.fit(X_train, y_train)
    y_test_pred = model.predict(X_test)
    
    r11 = metrics.accuracy_score(y_test, y_test_pred)
    r12 = metrics.f1_score(y_test, y_test_pred)
    
    return r11, r12

In [13]:
## CART

def cart(X_train,X_test,y_train,y_test):

    a = []
    
    for i in range(2,21):
        decisiontree = DecisionTreeClassifier(max_depth=i)
        model = decisiontree.fit(X_train, y_train)
        y_test_pred = model.predict(X_test)
        a.append(metrics.accuracy_score(y_test, y_test_pred))
    
    r13 = max(a)
    r14 = metrics.f1_score(y_test, y_test_pred)
    
    return r13, r14

In [14]:
## Running GBT, Logistic Regression, KNN, Random Forest, CART before feature selection

r1, r2, r3, r4 = gbt_thresh(X_train,X_test,y_train,y_test)
r5, r6, r7, r8 = logistic_reg(X_train,X_test,y_train,y_test)
r9, r10 = knn_algo(X_train,X_test,y_train,y_test)
r11, r12 = rf_algo(X_train,X_test,y_train,y_test)
r13, r14 = cart(X_train,X_test,y_train,y_test)

print("Results before feature selection:")
print("GBT Results:")
print("Accuracy:", r1)
print("F1:", r4)

print("\nLogistic Regression Results:")
print("Accuracy:", r5)
print("F1:", r8)

print("\nKNN Results:")
print("Accuracy:", r9)
print("F1:", r10)

print("\nRandom Forest Results:")
print("Accuracy:", r11)
print("F1:", r12)

print("\nCART:")
print("Accuracy:", r13)
print("F1:", r14)

Results before feature selection:
GBT Results:
Accuracy: 0.7285864424592748
F1: 0.7761646803900324

Logistic Regression Results:
Accuracy: 0.5937992643194955
F1: 0.6972189580885233

KNN Results:
Accuracy: 0.6894377299001576
F1: 0.7503168567807351

Random Forest Results:
Accuracy: 0.7469784550709406
F1: 0.7881188118811882

CART:
Accuracy: 0.6960063058328955
F1: 0.710865561694291

In [15]:
############# Feature Selection ############# 

############# Recursive Feature Elimination for feature selection

from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=1000)
rfe = RFE(lr, n_features_to_select=1)

model = rfe.fit(X, y)
model.ranking_
rfe_pred = pd.DataFrame(list(zip(X.columns,model.ranking_)), columns = ['predictor','ranking'])
rfe_pred.sort_values(by="ranking", inplace=True)
rfe_pred.reset_index(drop=True, inplace=True)
rfe_pred.head(10)

                                         predictor  ranking
0                     coupon_Carry out & Take away        1
1                           coupon_Restaurant(<20)        2
2                    occupation_Healthcare Support        3
3                                    weather_Sunny        4
4             occupation_Construction & Extraction        5
5                      destination_No Urgent Place        6
6                                 passanger_Kid(s)        7
7  occupation_Healthcare Practitioners & Technical        8
8                               occupation_Retired        9
9                                 occupation_Legal       10

In [16]:
############# Running loop for finding the optimal threshold for RFE feature selection

temp_a = rfe_pred['predictor']
temp_b = []
thresh = []
accuracy_score = []
f1_score = []

for i in range(len(rfe_pred)):
    temp_b.append(temp_a[i])
    
    X = df_og[temp_b]
    r11, r12 = rf_algo(X_train,X_test,y_train,y_test)
    thresh.append(i)
    accuracy_score.append(r11)
    f1_score.append(r12)
    
df_rf_RFE_thresh = pd.DataFrame(list(zip(thresh, accuracy_score, f1_score)), columns=['Threshold', 'Accuracy Score', 'F1 Score'])
df_rf_RFE_thresh

print("Highest Accuracy Score values:")
print(df_rf_RFE_thresh[df_rf_RFE_thresh["Accuracy Score"]==max(df_rf_RFE_thresh["Accuracy Score"])].sort_values(by=['Threshold']))

print("\nHighest F1 Score values:")
print(df_rf_RFE_thresh[df_rf_RFE_thresh["F1 Score"]==max(df_rf_RFE_thresh["F1 Score"])].sort_values(by=['Threshold']))

Highest Accuracy Score values:
    Threshold  Accuracy Score  F1 Score
10         10          0.7567  0.796752
18         18          0.7567  0.796752

Highest F1 Score values:
    Threshold  Accuracy Score  F1 Score
10         10          0.7567  0.796752
18         18          0.7567  0.796752

In [17]:
############# LASSO for feature selection

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

from sklearn.linear_model import Lasso

temp_a = []
temp_b = [x / 1000 for x in range(10, 50, 1)]
temp_c = []

for i in temp_b:
    model = Lasso(alpha=i)
    model.fit(X_std,y)
    temp_a = pd.DataFrame(list(zip(X.columns,model.coef_)), columns = ['predictor','coefficient'])
    temp_a = list(temp_a[temp_a['coefficient']!=0]['predictor'])
    temp_c.append(temp_a)

temp_d = [list(x) for x in set(tuple(x) for x in temp_c)]

for i in temp_d:
    temp_e = df_og[i]
    y_ls = df_og['Y']
    X_ls = df_og.iloc[:,1:]
    
    X_train_ls,X_test_ls,y_train_ls,y_test_ls = train_test_split(X_ls,y_ls,test_size=0.3, random_state=5)
    
    r11, r12 = rf_algo(X_train_ls,X_test_ls,y_train_ls,y_test_ls)
    accuracy_score.append(r11)
    f1_score.append(r12)
    
df_rf_Lasso_thresh = pd.DataFrame(list(zip(accuracy_score, f1_score)), columns=['Accuracy Score', 'F1 Score'])
df_rf_Lasso_thresh

print("Highest Accuracy Score values:")
print(df_rf_Lasso_thresh[df_rf_Lasso_thresh["Accuracy Score"]==max(df_rf_Lasso_thresh["Accuracy Score"])])

print("\nHighest F1 Score values:")
print(df_rf_Lasso_thresh[df_rf_Lasso_thresh["F1 Score"]==max(df_rf_Lasso_thresh["F1 Score"])])

Highest Accuracy Score values:
    Accuracy Score  F1 Score
10          0.7567  0.796752
18          0.7567  0.796752

Highest F1 Score values:
    Accuracy Score  F1 Score
10          0.7567  0.796752
18          0.7567  0.796752

In [18]:
############# Random Forest for feature selection

from sklearn.ensemble import RandomForestClassifier
randomforest = RandomForestClassifier(random_state=0)
model = randomforest.fit(X, y)
model.feature_importances_

df_impt1 = pd.DataFrame(list(zip(X.columns,model.feature_importances_)), columns = ['predictor','feature importance'])
df_impt1.sort_values(by=['feature importance'], ascending=False, inplace=True)
df_impt1.head(10)

          predictor  feature importance
22  CoffeeHouse_ord            0.063484
57              age            0.053418
60        income_lb            0.050659
61        income_ub            0.050469
50          Bar_ord            0.046243
40        education            0.044526
56             time            0.041676
49    CarryAway_ord            0.040619
37   Rest20To50_ord            0.039453
55     RestLT20_ord            0.039384

In [19]:
############# Running loop for finding the optimal threshold for random forest feature selection

temp_a = list(df_impt1['feature importance'])
thresh = []
accuracy_score = []
f1_score = []

for i in temp_a:
    temp_b = df_impt1[df_impt1['feature importance']>=i]
    temp_c = list(temp_b['predictor'])
    
    X_rf = df_og[temp_c]
    y_rf = df_og['Y']
    
    X_train_rf,X_test_rf,y_train_rf,y_test_rf = train_test_split(X_rf,y_rf,test_size=0.3, random_state=5)
    
    r11, r12 = rf_algo(X_train_rf,X_test_rf,y_train_rf,y_test_rf)
    thresh.append(i)
    accuracy_score.append(r11)
    f1_score.append(r12)
    
df_rf_RF_thresh = pd.DataFrame(list(zip(thresh, accuracy_score, f1_score)), columns=['Threshold', 'Accuracy Score', 'F1 Score'])
df_rf_RF_thresh

print("Highest Accuracy Score values:")
print(df_rf_RF_thresh[df_rf_RF_thresh["Accuracy Score"]==max(df_rf_RF_thresh["Accuracy Score"])].sort_values(by=['Threshold']))

print("\nHighest F1 Score values:")
print(df_rf_RF_thresh[df_rf_RF_thresh["F1 Score"]==max(df_rf_RF_thresh["F1 Score"])].sort_values(by=['Threshold']))

Highest Accuracy Score values:
    Threshold  Accuracy Score  F1 Score
24   0.012407        0.760116  0.799737

Highest F1 Score values:
    Threshold  Accuracy Score  F1 Score
24   0.012407        0.760116  0.799737

In [66]:
len(df_impt1[df_impt1['feature importance']>0.012407])

25

In [20]:
pred_impt = df_impt1[df_impt1['feature importance']>0.012407]['predictor']
pred_impt

22                  CoffeeHouse_ord
57                              age
60                        income_lb
61                        income_ub
50                          Bar_ord
40                        education
56                             time
49                    CarryAway_ord
37                   Rest20To50_ord
55                     RestLT20_ord
48                       expiration
0      coupon_Carry out & Take away
59                      temperature
1            coupon_Restaurant(<20)
10                       coupon_Bar
12              coupon_Coffee House
27                toCoupon_GEQ15min
23                           gender
54                     has_children
35             maritalStatus_Single
52    maritalStatus_Married partner
31            occupation_Unemployed
11         coupon_Restaurant(20-50)
45              passanger_Friend(s)
Name: predictor, dtype: object

In [33]:
print(df_impt1[df_impt1['feature importance']>0.012407])

                        predictor  feature importance
22                CoffeeHouse_ord            0.063484
57                            age            0.053418
60                      income_lb            0.050659
61                      income_ub            0.050469
50                        Bar_ord            0.046243
40                      education            0.044526
56                           time            0.041676
49                  CarryAway_ord            0.040619
37                 Rest20To50_ord            0.039453
55                   RestLT20_ord            0.039384
48                     expiration            0.031807
0    coupon_Carry out & Take away            0.026679
59                    temperature            0.025978
1          coupon_Restaurant(<20)            0.023753
10                     coupon_Bar            0.022907
12            coupon_Coffee House            0.022310
27              toCoupon_GEQ15min            0.021975
23                         gender            0.020386
54                   has_children            0.016400
35           maritalStatus_Single            0.014727
52  maritalStatus_Married partner            0.013770
31          occupation_Unemployed            0.013475
11       coupon_Restaurant(20-50)            0.012944
45            passanger_Friend(s)            0.012938

In [22]:
X_impt = df_og[pred_impt]
X_impt

,CoffeeHouse_ord,age,income_lb,income_ub,Bar_ord,education,time,CarryAway_ord,Rest20To50_ord,RestLT20_ord,...,coupon_Bar,coupon_Coffee House,toCoupon_GEQ15min,gender,has_children,maritalStatus_Single,maritalStatus_Married partner,occupation_Unemployed,coupon_Restaurant(20-50),passanger_Friend(s)
0,0.0,21,37500.0,49999.0,0.0,3,14,2.0,2.0,3.0,...,0,0,0,1,1,0,0,1,0,0
1,0.0,21,37500.0,49999.0,0.0,3,10,2.0,2.0,3.0,...,0,1,0,1,1,0,0,1,0,1
2,0.0,21,37500.0,49999.0,0.0,3,10,2.0,2.0,3.0,...,0,0,1,1,1,0,0,1,0,1
3,0.0,21,37500.0,49999.0,0.0,3,14,2.0,2.0,3.0,...,0,1,1,1,1,0,0,1,0,1
4,0.0,21,37500.0,49999.0,0.0,3,14,2.0,2.0,3.0,...,0,1,1,1,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,0.0,26,75000.0,87499.0,0.0,5,18,2.0,2.0,3.0,...,0,0,0,0,0,1,0,0,0,0
12680,0.0,26,75000.0,87499.0,0.0,5,7,2.0,2.0,3.0,...,0,0,0,0,0,1,0,0,0,0
12681,0.0,26,75000.0,87499.0,0.0,5,7,2.0,2.0,3.0,...,0,1,0,0,0,1,0,0,0,0
12682,0.0,26,75000.0,87499.0,0.0,5,7,2.0,2.0,3.0,...,1,0,1,0,0,1,0,0,0,0
12683,0.0,26,75000.0,87499.0,0.0,5,7,2.0,2.0,3.0,...,0,0,0,0,0,1,0,0,1,0

In [23]:
############# Hyperparamater Tuning for Random Forest

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_std = scaler.fit_transform(X_impt)

from sklearn.model_selection import GridSearchCV

n_estimators = [100, 300]
max_depth = [5, 8, 15, 25, 30]
min_samples_split = [2, 5, 10, 15, 100]
min_samples_leaf = [1, 2, 5, 10] 

model = RandomForestClassifier()

hyperF = dict(n_estimators = n_estimators, max_depth = max_depth,  
              min_samples_split = min_samples_split, 
             min_samples_leaf = min_samples_leaf)

gridF = GridSearchCV(model, hyperF, cv = None, verbose = True, 
                      n_jobs = -1)

bestF = gridF.fit(X_std,y)

Fitting 5 folds for each of 200 candidates, totalling 1000 fits

In [24]:
print(gridF.best_params_)
print(gridF.best_score_)

{'max_depth': 15, 'min_samples_leaf': 5, 'min_samples_split': 5, 'n_estimators': 100}
0.7015938246444733

In [25]:
randomforest = RandomForestClassifier(max_depth = 15, min_samples_leaf = 5, min_samples_split = 5, n_estimators = 100)
model = randomforest.fit(X_train, y_train)
y_test_pred = model.predict(X_test)

r11 = metrics.accuracy_score(y_test, y_test_pred)
r12 = metrics.f1_score(y_test, y_test_pred)

print('Hyperparameter tuned results:')
print('Accuracy:',r11)
print('F1 Score:', r12)

Hyperparameter tuned results:
Accuracy: 0.7369942196531792
F1 Score: 0.7849624060150375

## MODEL WITH HIGHEST ACCURACY & F1 SCORE

In [26]:
X = X_impt
y = df_og['Y']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=5)

randomforest = RandomForestClassifier()
model = randomforest.fit(X_train, y_train)
y_test_pred = model.predict(X_test)

r11 = metrics.accuracy_score(y_test, y_test_pred)
r12 = metrics.f1_score(y_test, y_test_pred)

print('Accuracy:', r11)
print('F1 Score:', r12)

Accuracy: 0.756962690488702
F1 Score: 0.7964796479647965

# MODELS WITHOUT DEMOGRAPHIC DATA

In [27]:
## Inititating dataframe without demographics data

df_demo = df_og[['Y', 'temperature', 'time', 'expiration', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same',
       'direction_opp', 'Bar_ord',
       'CoffeeHouse_ord', 'CarryAway_ord', 'RestLT20_ord', 'Rest20To50_ord',
       'destination_Home', 'destination_No Urgent Place', 'destination_Work',
       'weather_Rainy', 'weather_Snowy', 'weather_Sunny',
       'coupon_Bar', 'coupon_Carry out & Take away', 'coupon_Coffee House',
       'coupon_Restaurant(20-50)', 'coupon_Restaurant(<20)']]

In [28]:
## Splitting data into train & test datasets
X_demo = df_demo.iloc[:,1:]
y_demo = df_demo['Y']

X_train_demo,X_test_demo,y_train_demo,y_test_demo = train_test_split(X_demo,y_demo,test_size=0.3, random_state=5)

In [29]:
## Running GBT, Logistic Regression, KNN, Random Forest, CART before feature selection

r1, r2, r3, r4 = gbt_thresh(X_train_demo,X_test_demo,y_train_demo,y_test_demo)
r5, r6, r7, r8 = logistic_reg(X_train_demo,X_test_demo,y_train_demo,y_test_demo)
r9, r10 = knn_algo(X_train_demo,X_test_demo,y_train_demo,y_test_demo)
r11, r12 = rf_algo(X_train_demo,X_test_demo,y_train_demo,y_test_demo)
r13, r14 = cart(X_train_demo,X_test_demo,y_train_demo,y_test_demo)

print("Results before feature selection:")
print("GBT Results:")
print("Accuracy:", r1)
print("F1:", r4)

print("\nLogistic Regression Results:")
print("Accuracy:", r5)
print("F1:", r8)

print("\nKNN Results:")
print("Accuracy:", r9)
print("F1:", r10)

print("\nRandom Forest Results:")
print("Accuracy:", r11)
print("F1:", r12)

print("\nCART:")
print("Accuracy:", r13)
print("F1:", r14)

Results before feature selection:
GBT Results:
Accuracy: 0.721492380451918
F1: 0.7704634040710263

Logistic Regression Results:
Accuracy: 0.6736731476615869
F1: 0.7265521796565391

KNN Results:
Accuracy: 0.7012611665790857
F1: 0.7459650674331196

Random Forest Results:
Accuracy: 0.6933788754598004
F1: 0.7399153108981502

CART:
Accuracy: 0.7012611665790857
F1: 0.6796929518492673

In [30]:
############# Random Forest for feature selection

from sklearn.ensemble import RandomForestClassifier
randomforest = RandomForestClassifier(random_state=0)
model = randomforest.fit(X_demo, y_demo)
model.feature_importances_

df_impt2 = pd.DataFrame(list(zip(X_demo.columns,model.feature_importances_)), columns = ['predictor','feature importance'])
df_impt2.sort_values(by=['feature importance'], ascending=False, inplace=True)
df_impt2.head(10)

                       predictor  feature importance
8                CoffeeHouse_ord            0.154984
7                        Bar_ord            0.141986
9                  CarryAway_ord            0.131794
10                  RestLT20_ord            0.119668
11                Rest20To50_ord            0.117941
1                           time            0.056332
2                     expiration            0.035609
19  coupon_Carry out & Take away            0.028880
0                    temperature            0.028791
3              toCoupon_GEQ15min            0.026486

In [31]:
## Important features
df_impt2

                       predictor  feature importance
8                CoffeeHouse_ord            0.154984
7                        Bar_ord            0.141986
9                  CarryAway_ord            0.131794
10                  RestLT20_ord            0.119668
11                Rest20To50_ord            0.117941
1                           time            0.056332
2                     expiration            0.035609
19  coupon_Carry out & Take away            0.028880
0                    temperature            0.028791
3              toCoupon_GEQ15min            0.026486
22        coupon_Restaurant(<20)            0.025848
18                    coupon_Bar            0.021587
20           coupon_Coffee House            0.020615
13   destination_No Urgent Place            0.014527
21      coupon_Restaurant(20-50)            0.011750
17                 weather_Sunny            0.011395
4              toCoupon_GEQ25min            0.010117
12              destination_Home            0.008323
5                 direction_same            0.007648
6                  direction_opp            0.007521
14              destination_Work            0.006728
15                 weather_Rainy            0.006056
16                 weather_Snowy            0.005415

In [32]:
############# Running loop for finding the optimal threshold for random forest feature selection

temp_a = list(df_impt2['feature importance'])
thresh = []
accuracy_score = []
f1_score = []

for i in temp_a:
    temp_b = df_impt2[df_impt2['feature importance']>=i]
    temp_c = list(temp_b['predictor'])
    
    X_demo_gbt = df_demo[temp_c]
    y_demo_gbt = df_demo['Y']
    
    X_train_demo_gbt,X_test_demo_gbt,y_train_demo_gbt,y_test_demo_gbt = train_test_split(X_demo_gbt,y_demo_gbt,test_size=0.3, random_state=5)
    
    r1, r2, r3, r4 = gbt_thresh(X_train_demo_gbt,X_test_demo_gbt,y_train_demo_gbt,y_test_demo_gbt)
    thresh.append(i)
    accuracy_score.append(r1)
    f1_score.append(r4)
    
df_gbt_thresh = pd.DataFrame(list(zip(thresh, accuracy_score, f1_score)), columns=['Threshold', 'Accuracy Score', 'F1 Score'])
df_gbt_thresh

print("Highest Accuracy Score values:")
print(df_gbt_thresh[df_gbt_thresh["Accuracy Score"]==max(df_gbt_thresh["Accuracy Score"])].sort_values(by=['Threshold']))

print("\nHighest F1 Score values:")
print(df_gbt_thresh[df_gbt_thresh["F1 Score"]==max(df_gbt_thresh["F1 Score"])].sort_values(by=['Threshold']))

Highest Accuracy Score values:
    Threshold  Accuracy Score  F1 Score
15   0.011395        0.724645  0.771678

Highest F1 Score values:
    Threshold  Accuracy Score  F1 Score
17   0.008323        0.724383  0.772895

In [112]:
print(df_impt2[df_impt2['feature importance']>0.008323])

                       predictor  feature importance
8                CoffeeHouse_ord            0.154984
7                        Bar_ord            0.141986
9                  CarryAway_ord            0.131794
10                  RestLT20_ord            0.119668
11                Rest20To50_ord            0.117941
1                           time            0.056332
2                     expiration            0.035609
19  coupon_Carry out & Take away            0.028880
0                    temperature            0.028791
3              toCoupon_GEQ15min            0.026486
22        coupon_Restaurant(<20)            0.025848
18                    coupon_Bar            0.021587
20           coupon_Coffee House            0.020615
13   destination_No Urgent Place            0.014527
21      coupon_Restaurant(20-50)            0.011750
17                 weather_Sunny            0.011395
4              toCoupon_GEQ25min            0.010117
12              destination_Home            0.008323

In [103]:
pred_impt_demo = df_impt2[df_impt2['feature importance']>0.008323]['predictor']
pred_impt_demo

8                  CoffeeHouse_ord
7                          Bar_ord
9                    CarryAway_ord
10                    RestLT20_ord
11                  Rest20To50_ord
1                             time
2                       expiration
19    coupon_Carry out & Take away
0                      temperature
3                toCoupon_GEQ15min
22          coupon_Restaurant(<20)
18                      coupon_Bar
20             coupon_Coffee House
13     destination_No Urgent Place
21        coupon_Restaurant(20-50)
17                   weather_Sunny
4                toCoupon_GEQ25min
12                destination_Home
Name: predictor, dtype: object

In [104]:
X_impt_demo = df_demo[pred_impt_demo]
X_impt_demo

,CoffeeHouse_ord,Bar_ord,CarryAway_ord,RestLT20_ord,Rest20To50_ord,time,expiration,coupon_Carry out & Take away,temperature,toCoupon_GEQ15min,coupon_Restaurant(<20),coupon_Bar,coupon_Coffee House,destination_No Urgent Place,coupon_Restaurant(20-50),weather_Sunny,toCoupon_GEQ25min,destination_Home
0,0.0,0.0,2.0,3.0,2.0,14,24,0,55,0,1,0,0,1,0,1,0,0
1,0.0,0.0,2.0,3.0,2.0,10,2,0,80,0,0,0,1,1,0,1,0,0
2,0.0,0.0,2.0,3.0,2.0,10,2,1,80,1,0,0,0,1,0,1,0,0
3,0.0,0.0,2.0,3.0,2.0,14,2,0,80,1,0,0,1,1,0,1,0,0
4,0.0,0.0,2.0,3.0,2.0,14,24,0,80,1,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,0.0,0.0,2.0,3.0,2.0,18,24,1,55,0,0,0,0,0,0,0,0,1
12680,0.0,0.0,2.0,3.0,2.0,7,24,1,55,0,0,0,0,0,0,0,0,0
12681,0.0,0.0,2.0,3.0,2.0,7,24,0,30,0,0,0,1,0,0,0,0,0
12682,0.0,0.0,2.0,3.0,2.0,7,24,0,30,1,0,1,0,0,0,0,1,0
12683,0.0,0.0,2.0,3.0,2.0,7,2,0,80,0,0,0,0,0,1,1,0,0

In [105]:
############# Grid Search Hyperparameter Tuning

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_std = scaler.fit_transform(X_impt_demo)

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier()
parameters = {'max_depth':[i for i in range(1,11)], 'n_estimators':[50, 100],
              'learning_rate':[0.01, 0.1, 1], 'max_features': ['log2', 'sqrt']}
grid = GridSearchCV(estimator=model, param_grid=parameters , cv=None, verbose=True)
grid.fit(X_std,y_demo)

print(grid.best_params_)
print(grid.best_score_)

Fitting 5 folds for each of 120 candidates, totalling 600 fits
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 'log2', 'n_estimators': 50}
0.706401379457841

In [107]:
## GBT with tuned parameters

gbt = GradientBoostingClassifier(learning_rate = 0.1, max_depth = 6, max_features = 'log2', n_estimators = 50) 
model = gbt.fit(X_train_demo, y_train_demo)

y_test_pred_demo = model.predict(X_test_demo)

#accuracy_score(y_test, y_test_pred)# Calculate the accuracy score
y_test_pred_demo = model.predict(X_test_demo)
r1 = metrics.accuracy_score(y_test_demo, y_test_pred_demo)# Print the confusion matrix
metrics.confusion_matrix(y_test_demo, y_test_pred_demo)
# Calculate the Precision/Recall
r2 = metrics.precision_score(y_test_demo, y_test_pred_demo)
r3 = metrics.recall_score(y_test_demo, y_test_pred_demo)
# Calculate the F1 score
r4 = metrics.f1_score(y_test_demo, y_test_pred_demo)

print('Results for tuned hyperparameters')
print('Accuracy:', r1)
print('F1 Score:', r4)

Results for tuned hyperparameters
Accuracy: 0.7230688386757751
F1 Score: 0.7705703090988245

## MODEL WITH HIGHEST ACCURACY & F1 SCORE FOR NON-DEMOGRAPHIC PREDICTORS

In [117]:
X = X_impt_demo
y = df_demo['Y']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=5)

gbt = GradientBoostingClassifier() 
model = gbt.fit(X_train, y_train)

y_test_pred = model.predict(X_test)

#accuracy_score(y_test, y_test_pred)# Calculate the accuracy score
y_test_pred = model.predict(X_test)
r1 = metrics.accuracy_score(y_test, y_test_pred)# Print the confusion matrix
metrics.confusion_matrix(y_test, y_test_pred)
# Calculate the Precision/Recall
r2 = metrics.precision_score(y_test, y_test_pred)
r3 = metrics.recall_score(y_test, y_test_pred)
# Calculate the F1 score
r4 = metrics.f1_score(y_test, y_test_pred)

print('Accuracy:', r1)
print('F1 Score:', r4)

Accuracy: 0.7243825538623226
F1 Score: 0.77289456592336

### THANKS!